@import "@mdi/font/css/materialdesignicons.min.css";
@import 'tailwindcss';
@config "../tailwind.config.ts";
@layer base {}

html {
  overflow: hidden;
  font-family: 'Rampart Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--color-background-0);
  color: var(--color-cream-0);
}

/* Global button styles */
button {
  /* padding: 0.5em 1.2em; */
  /* border-radius: 1em; */
  border: none;
  background: transparent;
  color: var(--color-cream-0);
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  outline: none;
}

button:hover {
  /* background: var(--color-secondary-700); */
  /* color: var(--color-cream-0); */
}

input {
  @apply border-b border-light-blue-0/50 px-1 text-sm w-full outline-none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Custom scrollbar styling to match theme */
::-webkit-scrollbar {
  width: 8px;
  background: var(--color-background-900);
}

::-webkit-scrollbar-thumb {
  background: var(--color-background-800);
  border-radius: 6px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-green-0, var(--color-background-900));
}

::-webkit-scrollbar-track {
  background: var(--color-background-900);
}

.no-scroll {
  overflow: hidden !important;
}





.font-rampart-spurs {
  font-family: 'Rampart Spurs', sans-serif;
}

.font-rampart-regular {
  font-family: 'Rampart Regular', sans-serif;
}

.font-rampart-spurs-stamp {
  font-family: 'Rampart Spurs Stamp', sans-serif;
}

.font-speedwriter {
  font-family: 'Speedwriter', cursive;
}

@font-face {
  font-family: 'Rampart Regular';
  src: url('/fonts/Rampart-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Sans';
  src: url('/fonts/Rampart-Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Sans';
  src: url('/fonts/Rampart-SansBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Spurs';
  src: url('/fonts/Rampart-Spurs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Spurs Stamp';
  src: url('/fonts/Rampart-SpursStamp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Stamp';
  src: url('/fonts/Rampart-Stamp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Speedwriter';
  src: url('/fonts/Speedwriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
