@import "@mdi/font/css/materialdesignicons.min.css";
@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.css';
@config "../tailwind.config.ts";
@layer base {}

html {
  overflow: hidden;
  font-family: 'Charter', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--color-background-0);
  color: var(--color-tsecondary-50);
}

/* Global button styles */
button {
  /* padding: 0.5em 1.2em; */
  /* border-radius: 1em; */
  border: none;
  background: transparent;
  color: var(--color-tprimary-0);
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  outline: none;
}

input:not([type="checkbox"]) {
  @apply border-b border-info/50 px-1 text-sm w-full outline-none;
}

textarea {
  @apply border-b border-info/50 px-1 text-sm w-full outline-none;
}

.spurs-drop-shadow {
  filter: drop-shadow(0 0px 1px var(--color-tprimary-0)) drop-shadow(0 0px 2px var(--color-tprimary-0));
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Custom scrollbar styling to match theme */
::-webkit-scrollbar {
  width: 8px;
  background: var(--color-background-900);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-100);
  border-radius: 6px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-info-0, var(--color-background-900));
}

::-webkit-scrollbar-track {
  background: inherit;
}

.no-scroll {
  overflow: hidden !important;
}

.paragraph-text {
  @apply mt-4 font-sans text-lg text-justify;
}

ul {
  @apply list-disc list-inside space-y-1;
}

li {
  @apply leading-relaxed font-sans text-lg py-1;
}

li::marker {
  @apply text-tprimary-0;
}

.font-rampart-spurs {
  font-family: 'Rampart Spurs', sans-serif;
}

.font-rampart-regular {
  font-family: 'Rampart Regular', sans-serif;
}

.font-rampart-spurs-stamp {
  font-family: 'Rampart Spurs Stamp', sans-serif;
}

.font-speedwriter {
  font-family: 'Speedwriter', cursive;
}

.black-to-text-primary {
  filter: invert(72%) sepia(22%) saturate(259%) hue-rotate(158deg) brightness(92%) contrast(99%);
}

@font-face {
  font-family: 'Rampart Regular';
  src: url('/fonts/Rampart-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Sans';
  src: url('/fonts/Rampart-Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Sans';
  src: url('/fonts/Rampart-SansBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Spurs';
  src: url('/fonts/Rampart-Spurs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Spurs Stamp';
  src: url('/fonts/Rampart-SpursStamp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rampart Stamp';
  src: url('/fonts/Rampart-Stamp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Speedwriter';
  src: url('/fonts/Speedwriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Charter';
  src: url('/fonts/Charter Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Charter';
  src: url('/fonts/Charter Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Charter';
  src: url('/fonts/Charter Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Charter';
  src: url('/fonts/Charter Bold Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}